.basketHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.basketTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  font-size: 2rem;
}