.quantityWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-right: 5px;
}
.quantityButtonWrapper{
  display: flex;
}
.quantityButtonMinus, .quantityButtonPlus  {
  padding: 10px 10px;
  transition: all .8s;
}
.quantityButtonMinus:hover, .quantityButtonPlus:hover {
  background-color: #eba753;
  cursor: pointer;
}
.quantityButtonMinus {
  margin-right: 10px;
}
.quantityInput {
  margin-right: 10px;
  padding: 10px;
}
@media(max-width: 375px),(max-width: 768px){
  .quantityInput {
    width:30%
  }
  .quantityWrapper{
    margin-right: 0;
    margin-bottom: 10px;
  }
  .quantityButtonWrapper{
    justify-content: center;
  }
}
.quantityInput::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}
.quantityInput:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}
.quantity__input::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}
.quantityInput:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}
.quantityInput:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}
.quantityInput:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}
.quantityInput:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}
.quantityInput:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}
.quantityTitle {
  align-self: center;
}