.cardWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid grey;
  padding: 20px 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 20px;
  width: 90%;
}
@media(max-width: 375px),(max-width: 768px){
  .cardWrapper {
    flex-direction: column;
    padding: 5px 5px;
  }
}